*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(20, 255, 224);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px;
}
.cabecalho-item{
    width: 35%;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0% 16px;
}
.escola{
    background-image: linear-gradient(#0f0f0f, #fdf9f9);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    
}
.escola-imagem{
    width: 30%;
}

    

